@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --bg-color: #1a1f25;
  --primary-color: #21262D;
  --secondary-color: #2b323a;
  --text-color: #A5A8BD;
  --text-color-2: #394962;
  --button-color-2: #A371F7;
  --button-color: #39A6FF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  color: var(--text-color);
}

body {
  background: var(--bg-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 640px;
  margin: 50px auto;
  background: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px #07090d;
}

h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}

input {
  text-align: center;
  background-color: var(--bg-color);
  border: none;
  border-radius: 15px;
  width: 30rem;
  height: 2rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.add-btn{
  height: 2rem;
  width: 10rem;
  font-size: 1rem;
  background-color: var(--button-color);
  color: var(--bg-color);
  border: none;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1rem;
}

ol{
  background-color: var(--bg-color);
  width: 30rem;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: 300ms ease-in-out;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3rem;
  margin: 0 1rem;
  border-bottom: solid 0.1rem var(--secondary-color);
  transition: 300ms ease-in-out;
  overflow: hidden;
}

.remove-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.2rem;
  width: 5rem;
  font-size: 0.9rem;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}